//Nav

.navbar {
  border-radius: 0 !important;

  .nav-link  {
    color: $grey !important;
    
    &:hover {
      color: $yellow !important;
    }
  }
}



/**
 * Site footer
 */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  padding: $spacing-unit 0;
  /* Set the fixed height of the footer here */
  height: 110px;
  background-color: #f5f5f5;
}

/* Homepage */
#home-bg {
    background: url('/assets/img/home-bg.jpg') no-repeat;
    background-position: top center;
    height: 460px;
    margin: -5em 0 2em 0;
    padding: 7em 0 0 0;
    color: #fafafa;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 2px 2px 2px #000000;
      filter: dropshadow(color=#000000, offx=2, offy=2);
  h1 {
    color: $yellow;
  }
  img {
    margin-bottom: 1em;
  }

}

h3 { color: $yellow !important; }


.subscribe {
    margin: 0;
}

//Bootstrap Mods
.embed-responsive {
    margin-bottom: 10px;
}

