//Bootstrap Mods
.embed-responsive {
    margin-bottom: 10px;
}

header {
  height: 100px;
  line-height: 100px;

  .logo {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: $header-font-family !important;
      &:hover {
        text-decoration: none;
      }
    }

  nav {
    float: right;
  }
}

/* Homepage */
#home-bg {
  position: relative;
  color: #fafafa;
  text-shadow: 2px 2px 2px #000000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  video {
    width: 100%;
  }
  .home-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    text-align: center;
    margin: 0;
    width: 100%;
  }

  h1 {
    color: $main-color;
    @media (max-width: 34em) {
      font-size: 2rem;
    }

  }
  p {
    @media (max-width: 34em) {
      font-size: 1rem;
    }
  }

}

.breadcrumb {
  background: #ddd !important;
}

.bg {
  padding: 1.5rem 0;

  &.dark {
    background: $dark;
    color: white;
    h2 {
      color: $main-color;
    }
  }

  &.light {
    background: $light;
  }

  &.main {
    background: $main-color;
    h1 {
      margin-bottom: 0;
    }
    .subscribe {
      color: white;
      background: black;
      margin: 0;
    }

  }
}

.subscribe {
    margin: 0 0 20px 0;
    border: 1px solid $main-color !important;
  &:hover {
    border-color: white !important;
  }
}

// PAGES
.thumbnail {
  position: relative;
  overflow: hidden;
  max-height: 196px;
  margin-bottom: 1.875rem;
  @media (max-width: 48em) {
    max-height: 145px;
  }
  @media (min-width: 768px) {
    max-height: 185px;
  }
  @media (min-width: 992px) {
    max-height: 196px;
  }


  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  &:hover {
    img {
      transition: all 1s ease-out;
      transform: scale(1.05);
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);

    }
  }

  figcaption {
    text-shadow: 1px 1px 1px rgba(33, 33, 33, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//POSTS
.post {
  margin: 2em 0;
  h1 {
    margin-bottom: 1rem;
  }
}
.breadcrumb {
  margin-bottom: 1.25rem;
}
.carousel {
  margin-bottom: 2rem;
}

/**
 * Site footer
 */
.footer {
  background: #444;
  color: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px; /* Set the fixed height of the footer here */
  padding-top: 20px;
}
