<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - Los Angeles SEO Specialist &amp; Comedy Person{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}, The Website{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://taylorcbrown.com/assets/img/taylor-brown-poster.jpg" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />


    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  </head>

  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MPWCVH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPWCVH');</script>
    <!-- End Google Tag Manager -->

    <nav class="navbar navbar-dark bg-inverse">
      <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>         
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <a class="nav-link" href="/videos/">Videos</a>
          </li>
        </ul>
      </div><!--container-->
    </nav>

    {{ content }}

    <footer class="footer"> 
      <div class="container">
        <div class="row">
          <p class="col-lg-6 col-md-5">&copy; {{ site.time | date: '%Y' }} Taylor Brown</p> 
          <ul class="list-inline col-lg-6 col-md-7">
            <li class="list-inline-item">
              <span class="fa fa-envelope"></span> 
              <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li class="list-inline-item">
              <span class="fa fa-youtube"></span> 
                <a href="//www.youtube.com/user/{{ site.youtube_username }}">YouTube</a>
            </li>
            <li class="list-inline-item">
              <span class="fa fa-twitter"></span>
                <a href="//twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
            </li>
          </ul>
        </div><!--row-->
      </div><!--container-->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

  </body>
</html>