<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - Los Angeles Comedian and Filmmaker{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}, The Website{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://taylorcbrown.com/assets/img/taylor-brown-poster.jpg" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MPWCVH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPWCVH');</script>
    <!-- End Google Tag Manager -->

    <div class="container">

      <header>
        <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="text-right"><a class="text-right" href="/videos/">Videos</a></nav>
      </header>

      {{ content }}

    </div><!--container-->

    <footer class="footer">
      <div class="container">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/mrtaylorb/" target="_blank">Instagram</a>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-twitter"></i> <a href="https://twitter.com/mrtaylorb" target="_blank">Twitter</a>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-youtube"></i> <a href="https://www.youtube.com/mrtaylorb" target="_blank">YouTube</a>
          </li>
          <li class="list-inline-item">
            <span class="fas fa-envelope"></span> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          <li class="list-inline-item">
            <img class="desaturate rounded-circle" src="/assets/img/taylor-brown.jpg" width="25" height="25" alt="Taylor Brown"> Thanks for visiting.
          </li>
        </ul>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
