<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - Los Angeles SEO Specialist &amp; Comedy Person{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  </head>

  <body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MPWCVH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPWCVH');</script>
    <!-- End Google Tag Manager -->

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <div class="containter">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>         
            <ul class="nav navbar-nav pull-xs-right">
              <li class="nav-item">
                <a class="nav-link" href="/videos/">Videos</a>
              </li>
            </ul>
          </div><!--col-->
        </div><!--row-->
      </div><!--container-->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>