---
layout: default
---

<div class="bg main">
	<header class="container">
    <h1>{{ page.title }}</h1>
	</header>
</div><!--bg-->

<div class="container">

  <article class="post">

    {{ content }}

		<h2>Related Videos</h2>

		<div class="row">

			{% for post in site.related_posts limit:4 %}
				{% if post.thumbnail_image %}
				  <div class="col-sm-6 col-md-6 col-lg-3">
				    <figure class="thumbnail">
				      <a href="{{ post.url }}">
				        <img src="{{ post.thumbnail_image }}" class="img-fluid" alt="{{ post.title }}">
				        <figcaption>{{ post.title }}</figcaption> 
				      </a>    
				    </figure>
				  </div>
				{% else %}
			    {{ post.content | thumbnail_url: post.url, post.title }}
			  {% endif %}
			{% endfor %}

		</div><!--row-->
  </article>

</div>