---
layout: default
---
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/videos/">Videos</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
</ol>
</nav>

<div class="row">

  <article class="col-md-9">
    {{ content }}
	</article>

	<aside class="col-md-3">
		<h5>Related Videos</h2>
		{% for post in site.related_posts limit:4 %}
			{% if post.thumbnail_image %}
			    <figure class="thumbnail">
			      <a href="{{ post.url }}">
			        <img src="{{ post.thumbnail_image }}" class="img-fluid" alt="{{ post.title }}">
			        <figcaption>{{ post.title }}</figcaption>
			      </a>
			    </figure>
			{% else %}
		    {{ post.content | thumbnail_url: post.url, post.title }}
		  {% endif %}
		{% endfor %}
	</aside>
</div><!--row-->
